@import url(variables.css);

html, body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: var(--backgroundColor);
}

h1 {
  color: var(--secondaryColor);
  font-size: var(--h1);
  text-align: center;
}

h2 {
  color: var(--secondaryColor);
}

p {
  color: var(--secondaryColor);
}

.card {
  background-color: var(--secondaryColor);
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: var(--h2);
}

.image {
  border: 6px solid var(--primaryColor);
  width: 27rem;
  height: 27rem;
}

#mangaSpace {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100%;
}

.btns {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.btn {
  background-color: var(--buttonColor);
  margin-left: 2rem;
  margin-right: 2rem;
}